extends layout

block content
  each quote in quotes
    .quote.row
      blockquote
        a(href="/vote/" + quote.id, data-toggle="tooltip", data-placement="right", title="Klikk for å stemme! Husk at du kan bare stemme én gang.").box
          = quote.numVotes
        = quote.quote
        | 
        small #{quote.who}
          if user.authenticated && user.isAdmin
            | &nbsp;
            | (
            a(href="/quote/" + quote.id + "/destroy") Slett
            | )