.panel.panel-primary
  .panel-heading Velkommen skal du være!
  .panel-body Nytt av året er en helautomagisk løsning basert på fantastisk åpen kildekode, selvfølgelig er hele sitatveggen tilgjengelig på 
    a(href="http://github.com/cobraz/sitatvegg") Github
    |  for de som måtte ønske hjelpe til, eller kanskje sette opp sin egen variant. Vi har valgt å bruke Facebook som autentiseringsmetode på Sitatvegg.no, men har tilrettelagt for de som ikke er tilgjengelig på Facebook ved å åpne for bidrag via e-post. Send derfor bidraget til simen@n4f.no om du ikke har profil hos Facebook. Videre, så er det åpent og oppfordret å komme med innspill på vår Github-profil (om du ønsker egen autentiseringsmetode kan du implementere dette selv!) 
