@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);
body, html {
	background: #6e184b;
	color: #FFF;
}
blockquote {
	font-family: 'IM Fell English', serif;
	font-size: 26px;
	font-weight: bold;
	line-height: 26px;
	color: #000;
	margin-top: 30px;
}
blockquote .fa {
	color: #6e184b;
	font-size: 48px;
}
.jumbotron {
	padding: 15px;
	background: #FFF;
}
a,a:hover {
    color: #FFFFFF;
}
.picture {
	border-radius: 100px;
	width: 150px;
	height: 150px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top center;
	margin: 10px;
	margin-left: 0px;
}
.quote {
	height: 180px;
	width: 100%;
	border-radius: 100px;
	background: #FFF;
	margin-bottom: 20px;
}
